.container {
  max-width: 425px;
  padding: 0 10px;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 25px;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}
