.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

@media only screen and (min-width: 768px) {
  .list {
    justify-content: flex-start;
  }
}
